/******************* PAGE BASICS **********************/
textarea {resize: none;}

body {background-color: rgb(252, 246, 241);
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}

hr {border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }

#wrapper    {width:100vw;}

.med_title  {display:none;}

a:link {text-decoration: none;}

.righter {text-align: right; 
         font-size: 1.1em;
         font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.lefter  {text-align: left;
         font-size: 1.1em;
         font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}


.righter_light {text-align: right;
               font-size: .9em;
               font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.lefter_light  {text-align: left;
               font-size: .9em;
               font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}



/******************* NAME NAV BAR **********************/
.top_scroll {display:none;}

.brown_bar  {height: 60px;
            width: 100%;
            display: block;
            position: fixed;
            margin-top: 0px;
            z-index: -20;
            background: -webkit-linear-gradient(top, rgba(222, 208, 196, .0), rgba(222, 208, 196, .8)); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(top, rgba(222, 208, 196, .0), rgba(222, 208, 196, .8)); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(top, rgba(222, 208, 196, .0), rgba(222, 208, 196, .8)); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to top, rgba(222, 208, 196, .0), rgba(222, 208, 196, .8)); /* Standard syntax (must be last) */}

.brown_bar_small    {display:none;}

.nav_bar_background    {display:none;}


.nav_bar    {display:none;}

.nav_bar_small  {display:none;}




#home   {width: 105px;}
#link_1 {width: 132px;}

#search {width: 125px;}
#link_2 {width: 152px;}

#contact {width: 130px;}
#link_3 {width: 157px;}

#definitions {width: 175px;}
#link_4 {width: 202px;}

#blog {width: 105px;}
#link_5 {width: 132px;}

.nav_bar table  {display:none;}
.nav_bar td     {height: 36px;}

.nav_bar_small table    {display:none;}
.nav_bar_small td       {height: 36px;}

.pointer    {float:left;
            display:block;}

.backup_image   {display:none;}

.abilene_logo   {display: none;}

#abilene_logo_small {display:none}

#link_1 path {transition: .8s;}
#link_1:hover #home path {fill:#EEB422;}

#link_2 path {transition: .8s;}
#link_2:hover #search path {fill:#EEB422;}

#link_3 path {transition: .8s;}
#link_3:hover #contact path {fill:#EEB422;}

#link_4 path {transition: .8s;}
#link_4:hover #definitions path {fill:#EEB422;}

#link_5 path {transition: .8s;}
#link_5:hover #blog path {fill:#EEB422;}


#seniors_canvas     {margin: auto;
                    z-index: 0;
                    position: fixed;
                    top: 61px;
                    left: 0px;
                    width:100%;
                    display: block;
                    z-index: -30;}

.canvas_fade        {height: 800px;
                    width: 100%;
                    margin: auto;
                    z-index: 1;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    background: rgba(255,250,240, .6);
                    display: block;
                    z-index: -29;}

.under_canvas_fade      {display:none;}

.nav_bar_mobile {display:block;
                position:fixed;
                top:-450px;
                left:0px;
                background:rgba(255, 255, 255, 0.85);
                width:100%;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size: 1.5em;
                box-shadow: 0px 5px 30px #848484;
                padding-left: 0px;
                z-index: 45;}


.nav_bar_links_button {display:block;
                      position:fixed;
                      top:5px;
                      left:-30px;
                      width:100%;
                      height:30px;
                      padding:10px;
                      z-index: 40;}

.nav_bar_links_button_banner {display:block;
                              position:fixed;
                              top:0px;
                              left:0px;
                              width:100vw;
                              height:20px;
                              padding:20px;
                              background:rgba(255, 255, 255, .8);
                              border-bottom:1px dotted gray;
                              z-index: 39;}

#nav_bar_links_button_svg {float:left;
                          position:fixed;
                          left:-3px;}

.nav_bar_mobile a:link {color: #851C01;}
.nav_bar_mobile a:visited {color: #851C01;}
.nav_bar_mobile a:hover   {color: #BF2600;}
.nav_bar_mobile a:active  {color:#EA2F00; }

.close_x_mobile_svg {cursor:pointer;
                    float:left;
                    padding:10px;}
.close_x_mobile_svg polygon {transition: 0.5s;}
.close_x_mobile_svg:hover polygon {fill:#FC6060;}

#nav_bar_links_button_svg {cursor:pointer;}
#nav_bar_links_button_svg rect {transition: 0.7s;}
#nav_bar_links_button_svg:hover rect {fill:#F15F00;}
#nav_bar_links_button_svg:active rect {fill:#F15F00;}

.abilene_logo_box {z-index: 75;
                  display: block;
                  position:fixed;
                  top:10px;
                  left:40px;
                  z-index: 41;}

.abilene_logo_box img {width:90vw;}  

.abilene_logo_box_small {z-index: 75;
                        display: block;
                        position:fixed;
                        top:10px;
                        left:40px;
                        z-index: 41;}

.abilene_logo_box_small img {width:90vw;}    




/******************* INDEX PAGE **********************/
.content_wrapper    {display:block;
                    position:relative;
                    width:100vw;
                    top:13vw;}

.index_title    {display:none;}

.index_title img {width:85vw;}

.index_text     {position:relative;
                left:1px;
                width: 85vw;
                top:50px;
                margin:auto;
                font-size: 1.2em;
                text-align: justify;
                height: 800px;}

.index_pic      {display:none;}

.index_pic img {display:none;}

.index_title_box {display:none;}

.index_title_box img {display:none;}

.mobile_index_pic {display:block;
                  width:40%;
                  margin:35px;
                  margin-top: 0px;
                  float:left;}

.mobile_index_pic img {width:80vw;
                      border:1px solid black;
                      width:100%;
                      box-shadow:5px 5px 10px #D5D5D5;}
/******************* SEARCH & RESULTS PAGE **********************/
.content_wrapper_search {width: 100%;
                        margin: auto;
                        position: relative;
                        top: 250px;
                        z-index: 30;}

.search_bar {margin: auto;
            width: 100vw;
            background: rgba(222, 208, 196, .5);
            padding: 15px;
            position: fixed;
            top:140px;
            text-align: left;}

.search_bar_no_hover   {width: 65%;
                       padding: 5px;
                       font-size: 16px;
                       border:none;
                       height: 45px;
                       background: #FFF;
                       font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                       letter-spacing: .1em;
                       margin-right: 10px;
                       cursor: pointer;}

.search_bar_hover      {width: 65%;
                       padding: 5px;
                       height: 45px;
                       font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                       letter-spacing: .1em;
                       margin-right: 10px;
                       background:#E0F4FF;
                       border:none;
                       border-radius: 17px;
                       box-shadow: 2px 2px 5px #9E9E9E;
                       cursor: pointer;}


.input_no_hover     {border-radius: 17px;
                    border:none;
                    width: 100px;
                    height:45px;
                    background: #fff;
                    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                    font-size: 16px;
                    cursor: pointer;}

.input_hover        {border-radius: 17px;
                    border:none;
                    width: 100px;
                    height:45px;
                    background: #E0F4FF;
                    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                    font-size: 16px;
                    box-shadow: 2px 2px 5px #9E9E9E;
                    cursor: pointer;}
#results_mobile {margin: auto;
        width:100vw;
        height:100vh;
        overflow-x:none;
        overflow-y: scroll;
        border: 1px solid rgb(180, 180, 180);
        display: block;
        position: fixed;
        top: 210px;
        padding: 15px;
        background: white;
        border-radius: 0px;
        box-shadow: 0px 0px 30px rgb(210,180,140);}

#results {display:none;}

#results_mobile table {width: 100%;
                border-collapse: collapse;
                }

#results_mobile th     {background: #eee;
                        border-bottom: 5px solid white;
                        padding: 3px;
                        font-weight: normal;
                        margin-bottom: 3px;
                        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                        letter-spacing: .0em;
                        text-align: left;}

#results_mobile td      {border-bottom: 5px solid white;
                        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                        font-size: .8em;
                        padding: 8px;}

.scroll_div {display:block;
            height:300px;
            width:100px;}

.phone   {width: 20%;}
.provider {width: 40%;}

.row1 {background: #f0fcff;
      font-size: 1.3em;
      cursor: pointer;}
.row1_hover {background: #FFFFB1;
                font-weight: bolder;
                font-size: 1.4em;
                padding:4px;}
.row2 {background: #D3EDFD;
      font-size: 1.3em;
      cursor: pointer;}
.row2_hover {background: #FFFFB1;
                font-weight: bolder;
                font-size: 1.3em;
                padding:4px;}

.pagination_numbers {display:none;}

.no_resource {margin: auto;
             text-align: center;
             border-top: 1px solid black;
             border-bottom: 1px solid black;
             font-size: 1.2em;
             letter-spacing: .13em;
             padding: 15px 0px 15px 0px;}

/******************* RESOURCE PAGE **********************/

.pic_viewer_page    {position:absolute;
                    top:0px;
                    left:0px;
                    width:100%;
                    background: rgba(0, 0, 0, 0.7);
                    z-index: 50;
                    padding:0px;
                    height:2500px;
                    display: none;}

.image_box  {margin-top: 10px;
            padding:5px;
            margin:auto;
            border-radius: 0px;
            background: rgba(0, 0, 0, 0.3);
            width:100vw;}

.image_box img  {width:97%;}

.content_wrapper_resource   {width: 100vw;
                            position: fixed;
                            padding-top: 15px;
                            overflow-x: scroll;
                            top: 14vw;
                            z-index: -25;}

.resource_brown  {margin: auto;
                  width: 100%;
                  justify-content: center;}

.back_button    {display:none;}

.red_x {cursor:pointer;}
.red_x polygon {transition: 0.5s;}
.red_x:hover polygon {fill:#FC6060;}

.resource_info    {width: 100%; 
                  color: black;}

.resource_name  {text-align: left;
                font-size: 1.6em;}

.resource_picture {margin-top: 10px;
                  width:95vw;
                  flex-grow: 1;}

.resource_picture img {width:95vw;
                      border:1px dotted gray;
                      position:relative;
                      top:-5vw;}

.resource_map     {width: 50%;
                  height: 250px;
                  margin-top: 10px;
                  border: 1px solid black;;}

.under_the_brown {display:block;
                 width:100%;
                 height:200px;}

.category_list {text-align: left;
                font-size: 1em;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

.address_text  {text-align: left;
                line-height: 125%;
                font-size: 1.2em;}



/******************* CONTACT PAGE **********************/

.contact_box_b             {width: 100vw;
                            margin: auto;
                            position: absolute;
                            padding-top: 15px;
                            top: 50px;
                            z-index: 35;}


.contact_brown    {background: rgba(222, 208, 196, .9);
                  position:absolute;
                  top:80px;
                  left:0px;
                  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                  width: 100vw;}

.contact_table td   {height:57px;
                    padding-bottom: 15px;
                    border: none;
                    padding:5px;}

#border_top {border-top:3px solid rgb(252, 246, 241);}
#border_bottom {border-bottom:3px solid rgb(252, 246, 241);}

.contact_table {border-collapse: collapse;}

.contact_brown input[type=text] {height: 40px;
                                width:96%;
                                border:none;
                                border-radius: 7px;
                                font-size: 1em;}

.contact_brown textarea {height: 100px;
                        border:none;
                        width:96%;
                        border-radius: 7px;
                        font-size: 1em;}

.send_button            {height: 40px;
                        border-radius: 17px;
                        border:none;
                        font-size: 1em;
                        cursor: pointer;}
             
.send_button_hover      {height: 40px;
                        background:#E0F4FF;
                        border:none;
                        border-radius: 17px;
                        box-shadow: 2px 2px 5px #9E9E9E;
                        font-size: 1em;}             

#row_40 {width: 25%;}




/******************* DEFINITONS **********************/
.content_wrapper_definitions {display:none;}
.content_wrapper_definitions_mobile {width: 100vw;
                                     margin: auto;
                                     position: relative;
                                     display:block;
                                     top: 20px;
                                     z-index: 30;}

#definitions_results    {margin: auto;
                overflow-x:none;
                overflow-y: scroll;
                border: 1px solid rgb(180, 180, 180);
                width: 100vw;
                display: block;
                position: absolute;
                top: 100px;
                padding: 0px;
                background: white;
                border-radius: 10px;
                box-shadow: 0px 0px 30px rgb(210,180,140);}

.definitions_text {display:none;}

.definition_box {width:100vw;
                margin:auto;}

.definition_title {font-size: 1.1em;
                    display:block;
                    background:#E0F4FF;
                    padding:5px;
                    width:100%;
                    margin-top: 40px;
                    margin-bottom: 10px;
                    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.definition_description {display:block;
                        margin:auto;
                        width:90%;}




/******************* BLOG **********************/
.content_wrapper_blog {display:none;}

.content_wrapper_blog_mobile {width: 100vw;
                             display:block;
                             margin: auto;
                             position: relative;
                             top: 50px;
                             z-index: 30;}

#blog_results      {margin: auto;
                    overflow-x:none;
                    overflow-y: scroll;
                    border: 1px solid rgb(180, 180, 180);
                    width: 100vw;
                    display: block;
                    position: absolute;
                    top: 10.5vw;
                    padding: 0px;
                    background: white;
                    border-radius: 5px;
                    box-shadow: 0px 0px 30px rgb(210,180,140);}

.blog_box   {width:97%;
            margin:auto;}

.blog_box img {width:50%;
              margin:auto;
              float:right;
              margin-bottom: 5px;}

.blog_body  {width:90%;
            margin:auto;
            text-align: justify;
            font-size: 1.2em;
            line-height: 1.5em;
            text-justify: inter-word;
            padding-bottom: 150px;}

.blog_title a {transition:0.2s;}
.blog_title a:link {color:#E2BE93;}
.blog_title a:visited {color:#E2BE93;}
.blog_title a:hover {color:#BD9A60;}
.blog_title a:active {color:#A96F23;}

.blog_title {font-size: 1.65em;
             font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            color:#E6C299;}

.blog_author {font-size: .7em;
             font-weight: bold;
             color:#73431F;
             font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

.blog_years {margin: auto;
            height: 30px;
            padding:5px;
            padding-left: 20px;
            width:100vw;
            border-top:1px dotted gray;
            background:rgba(255, 255, 255, 0.85);
            margin-left: 30px;
            display: block;
            position: fixed;
            left:-30px;
            bottom: 0px;}

/******************* FOOTER **********************/                    
#footer_scroll {display:none;}

#footer_blocker {display:none;}
        